<div id="divWeatherMain">
    <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
        <img src="../../assets/sun.jpg" alt="sun" class="sun"/>
    </div>
    <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
    <img src="../../assets/moon.jpg" alt="moon" class="moon" />
    </div>
    <div class="weatherWidgetRow cloudDiv">
        <img src="../../assets/cloud.png" alt="cloud" class="cloud"/>
    </div>
    
    <div class="weatherWidgetRow" id="celsius">{{WeatherData.temp_celsius}}°C</div>
    <!--<div class="weatherWidgetRow" style="font-size: 12px;">{{WeatherData.temp_min}}° / {{WeatherData.temp_max}}°</div>-->
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like: {{WeatherData.temp_feels_like}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 25px; margin: 10px auto;">{{WeatherData.name}}</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{WeatherData.main.humidity}}%</div>
    
</div>
